/*  your css code here. If applicable */
.container{
	height:100px;

	margin:auto;
	padding:20px;
	border:15px solid blue;
	border-radius:20px;
	background-color:skyblue;
	display:flex;
	justify-content:center;
}
.red{
	background-color:red;
	border-radius:50%;
	width:30%;
}	
	

.yellow{
	background-color:yellow;
	border-radius:50%;
	width:30%;
}

.green{
	background-color:green;
	border-radius:50%;
	width:30%;

}