/*  your css code here. If applicable */
#main{
	height:100px;

	margin:auto;
	padding:20px;
	border:15px solid blue;
	border-radius:20px;
	background-color:skyblue;
	display:flex;
	justify-content:center;
}
.circle{
	border-radius:50%;
	width:30%;
}
#red{
	background-color:red;
	
	
}
#yellow{
	background-color:yellow;
}
#green{
	background-color:green;
}